html, body {
    background-color: #eee;
    margin: 0px;
    padding: 0px;;
}

#title{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 20px;
}

#track-window{
    display: flex;
    margin-top: 15px;
}

#track-canvas{
    background-color: #68c168;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0px 15px;
    position: absolute;
    filter: contrast(0.2) brightness(1.5);
}

#traj-canvas{
    background-color: #00000000;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0px 15px;
    z-index: 1;
}